<section id="friends-section">
  <% if (locals.user) { %>
  <h2>Friends List</h2>
  <ul>
    <% for (u of all_users) { %>
    <li>
      <a href="/user/profile/<%= u.id %> "> <%= u.name %> </a>
    </li>
    <% } %>
  </ul>

  <% } %>
</section>
