<link rel="stylesheet" href="/css/header.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap"
  rel="stylesheet"
/>

<header id="header">
  <h1>codeial</h1>

  <ul>
    <li>
      <a href="/">Home</a>
    </li>

    <li>
      <% if (locals.user) { %>
      <a href="/user/profile/<%= locals.user.id %> ">Profile</a>
      <% } else { %>

      <a href="/user/profile">Profile</a>
      <% } %>
    </li>

    <li>
      <% if(!locals.user) { %>
      <p><a href="/user/sign-in">Login</a>/<a href="/user/sign-up">Sign Up</a></p>

      <% } else { %>
      <a href="/user/sign-out"> Sign Out</a>
      <% } %>
    </li>
  </ul>
</header>
