<link rel="stylesheet" href="/css/home.css" />

<div id="background-image-container"></div>
<div id="background-image-overlay"></div>

<main>
  <!-- Post Form Below -->

  <!-- Show post form if user logged in -->

  <!-- Post list container below -->
  <%- include('_posts') %>
  <!-- friends section here -->
</main>
<%- include('_friends') %>

<script src="/js/home_posts_comments.js"></script>
<script src="/js/home_posts.js"></script>
