<link rel="stylesheet" href="/css/profile.css" />

<div id="background-image-container"></div>
<div id="background-image-overlay"></div>

<main>
  <h1>Welcome <%= user.name %></h1>

  <h3>Here Are <%= profile_user.name %>'s Details</h3>
  <p>Name: <%= profile_user.name %></p>
  <p>Email: <%= profile_user.email %></p>
</main>
