body {
  position: relative;

  overflow-x: hidden;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.342);
  z-index: 0;
}

::-webkit-scrollbar {
  width: 0;
}

main {
  height: calc(100vh - 15rem);
  overflow-y: scroll;
  position: relative;
  left: 50vw;
  width: 100%;
  max-width: 70rem;
  border-radius: 2rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../images/home-background.jpg");
  z-index: -1;
}

#background-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #dae0e6f3;
  z-index: -1;
}

#create-post-form {
  max-width: 50rem;
  width: 100%;
  margin: 3rem 0;
}

#create-post-form h2 {
  font-size: 2.6rem;
  margin-bottom: 10px;
}

#create-post-form form textarea {
  width: 90%;
  max-width: 50rem;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem;
}

.button {
  height: 3.7rem;
  width: 12rem;
  background: rgb(114, 3, 204);
  color: white;
  font-size: 1.6rem;
  font-weight: 750;
}

#create-post-form form input:hover {
  cursor: pointer;
  transform: scale(1.01);
}

#posts-list-container {
  max-width: 50rem;
  width: 100%;
}

#posts-list-container h2 {
  font-size: 2.6rem;
  margin-bottom: 10px;
}

#posts-list-container ul {
  list-style-type: none;
}

#posts-list-container ul li {
  position: relative;
}

.post-list-item {
  box-shadow: 0 0 0.5rem rgb(112, 112, 112);
  background-color: #fff;
  border-radius: 0.5rem;
  border: 0.2rem solid rgb(77, 77, 77);
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.post-head {
  font-size: 1.6rem;
  font-size: 900;
  display: flex;
  justify-content: space-between;
}

.post-head span {
  font-size: 1.7rem;
  font-size: 900;
  color: rgb(85, 85, 85);
}

.post-head a {
  font-size: 1.6rem;
  font-size: 900;
  color: gray;
}

#posts-list-container ul li > p {
  font-size: 2.1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.add-comment-form input {
  margin: 1rem;
  height: 3.7rem;
  width: 30rem;
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 1rem;
}

.comment-list-container {
  position: relative;
  left: 1.5rem;
}

.comment-list-container h3 {
  font-size: 2.1rem;
}

.comment {
  width: 90%;
  border-bottom: 1px solid grey;
  padding: 0.5rem;
  margin-top: 1rem;
}

.comment > span {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  color: gray;
}

.comment > span a {
  color: gray;
}

.comment p {
  font-weight: 900;
}

#friends-section {
  position: absolute;
  top: 11rem;
  right: 5rem;
  width: 35rem;
}

#friends-section a {
  color: black;
  font-size: 2rem;
}

#friends-section a:hover {
  color: gray;
}

#friends-section h2 {
  font-size: 2.4rem;
}

#friends-section ul {
  list-style-type: none;
}
